<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
           				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         					">

	<!-- dictionary -->
	<bean id="dictionaryProvider"
		class="com.base.platform.framework.dictionary.DictionaryProviderImpl" />
	<bean id="xmlDictBuilder" class="com.base.platform.framework.dictionary.XmlDictBuilder">
		<property name="dictionaryProvider" ref="dictionaryProvider" />
		<property name="filepaths">
			<list>
				<value>classpath*:resource/dict/**/*.dict.xml</value>
				<value>classpath*:resource/dict/*.dict.xml</value>
			</list>
		</property>
	</bean>


	<!-- web-app 所需要的变量 -->
	<bean id="variable" class="com.base.platform.framework.model.Variable"
		p:pageSize="500">
		<property name="userTypeMap">
			<map>
				<entry key="2" value="普通用户" />
				<entry key="1" value="单位管理员用户" />
				<entry key="0" value="超级管理员用户" />
			</map>
		</property>
		<property name="stationTypeMap">
			<map>
				<entry key="eem" value="办公用品" />
				
			</map>
		</property>
		<property name="authTypeMap">
			<map>
				<entry key="0" value="非权限节点" />
				<entry key="1" value="权限节点" />
				<entry key="2" value="非菜单树节点" />
			</map>
		</property>
		<property name="stoibTypeMap">
			<map>
				<entry key="0" value="已登记" />
				<entry key="1" value="已验收" />
				<entry key="2" value="已入库" />
				<entry key="3" value="已记账" />
			</map>
		</property>
	</bean>

	<bean id="SpringContextUtils" class="com.base.platform.framework.web.utils.SpringContextUtils"></bean>



	

	
	<bean name="cachedMapRefreshJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.base.platform.framework.schedule.job.CachedMapRefreshJob" />
	</bean>


	<bean id="cachedMapRefreshJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="cachedMapRefreshJob" />
		<!-- 0 * * * * ?  every one minute  0 2 4 ? * SUN every Sunday 4:02am.  -->
		<property name="cronExpression" value="0 2 4 ? * SUN" />
	</bean>

	
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cachedMapRefreshJobTrigger" />
			</list>
		</property>
	</bean>
	
</beans>